@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Barlow Condensed", sans-serif;
  color: #242942;
  box-sizing: border-box;
}

h2 {
  font-size: 4rem;
}

h1,
p,
span,
button {
  font-size: 1.8rem;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.nav-toggle {
  border: none;
  background: none;
}
.nav-toggle .nav-button {
  margin-top: 0.5rem;
}

.nav-menu {
  list-style: none;
  position: fixed;
  right: 3rem;
  top: 7rem;
  width: 90%;
  z-index: 2;
  background-color: white;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.nav-menu :last-child a {
  color: #a0a1ac;
}

.visible {
  box-shadow: 0 15px 20px 5px #a0a1ac;
  height: 30rem;
  padding: 2rem;
}
.visible :nth-last-child(2) {
  border-bottom: 1px solid #a0a1ac;
  padding-bottom: 2rem;
}
.visible :last-child {
  padding-top: 2rem;
}

.nav-item {
  padding: 2rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.nav-link:hover {
  text-decoration: underline;
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main::before {
  content: " ";
  width: 100rem;
  height: 100rem;
  background: #eef3f6;
  position: fixed;
  top: -62rem;
  right: -80rem;
  z-index: -1;
  border-radius: 5rem;
}

.image {
  width: 51.5rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

figcaption {
  opacity: 0;
}

.devices {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.emphasize {
  background-color: #242942;
  padding: 0.5rem 1rem 0.5rem 1.3rem;
  border-radius: 1.5rem;
  color: #eef3f6;
  margin-right: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title-text {
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #a0a1ac;
}

.schedule-demo {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #a0a1ac;
}

.copy {
  display: flex;
  flex-direction: column;
  padding: 2.75rem;
  height: 100%;
}

.tag-line {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.description {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #a0a1ac;
}

.schedule-btn {
  border: none;
  background-color: #ff5c5c;
  border-radius: 0.5rem;
  color: #eef3f6;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.5s;
}
.schedule-btn:hover {
  opacity: 0.8;
}

@media (min-width: 500px) {
  main {
    align-items: center;
  }
  main::before {
    top: -55rem;
    right: -55rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 5rem 15rem;
  }

  main {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem 0 3rem 15rem;
  }
  main::before {
    top: -55rem;
    right: -35rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu {
    height: auto;
    position: inherit;
    display: flex;
    width: auto;
    background: none;
  }

  .nav-item {
    padding: 0;
    border: none;
    margin: 0 2rem;
  }

  .divider {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 3rem;
    background: #a0a1ac;
    opacity: 0.8;
    border-radius: 50%;
    align-self: center;
  }

  .image {
    width: 110rem;
    transform: translate(23rem);
  }

  .copy {
    padding: 2rem 0;
  }

  .title-text {
    margin-bottom: 2rem;
  }

  .tag-line {
    font-size: 4.8rem;
    width: 90%;
    margin-bottom: 3rem;
  }

  .description {
    margin-bottom: 5rem;
    width: 65%;
  }
}

/*# sourceMappingURL=index.css.map */
