@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

* {
  margin: 0;
  padding: 0;
  font: {
    size: 10px;
    family: "Barlow", sans-serif;
  }
  color: $very-dark-blue;
}

h2 {
  font-size: 3.6rem;
}

p,
span,
button {
  font-size: 1.8rem;
}

.devices {
  width: 137%;
  height: auto;
}

.schedule-btn {
  border: none {
    radius: 0.5rem;
  }
  background-color: $red;
  color: $light-grayish-blue;
  padding: 1rem;
}

.emphasize {
  background-color: $very-dark-blue;
  padding: 1rem;
  border-radius: 1.5rem;
  color: $light-grayish-blue;
  margin-right: 1rem;
}

.all-caps {
  text-transform: uppercase;
}

.font-light {
  color: $grayish-blue;
}
