@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

* {
  margin: 0;
  padding: 0;
  font: {
    size: 10px;
    family: "Barlow Condensed", sans-serif;
  }
  color: $very-dark-blue;
  box-sizing: border-box;
}

h2 {
  font-size: 3.6rem;
}

p,
span,
button {
  font-size: 1.8rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.nav-toggle {
  border: none;
  background: none;
}

.nav-menu {
  list-style: none;
  position: fixed;
  left: 3rem;
  top: 8rem;
  width: 62%;
  z-index: 2;
  background-color: white;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.nav-menu.visible {
  box-shadow: 0 15px 15px 5px $dark-grayish-blue;
  height: fit-content;
}

.nav-item {
  margin: 2rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 700;
  text: {
    transform: uppercase;
    decoration: none;
  }
  letter-spacing: 0.1rem;
}

.devices {
  width: 137%;
  height: auto;
}

.emphasize {
  background-color: $very-dark-blue;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: $light-grayish-blue;
  margin-right: 1rem;
  font-weight: 700;
}

.all-caps {
  text-transform: uppercase;
}

.font-med-light {
  color: $dark-grayish-blue;
}

.font-light {
  color: $grayish-blue;
}

.title-text {
  letter-spacing: 0.3rem;
}

.schedule-demo {
  letter-spacing: 0.3rem;
}

.copy {
  display: flex;
  flex-direction: column;
  padding: 2.75rem;
  height: 100%;
}

.description {
  font-size: 2.4rem;
}

.schedule-btn {
  border: none;
  background-color: $red;
  border-radius: 0.5rem;
  color: $light-grayish-blue;
  padding: 1rem 2rem;
}
